*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
body{
  background:#ececeb;
  #root{
    width: 100%;
    border:5px solid #333;
    padding: 50px;
    div{
      color: red;
      font-size: 30px;
      text-align: center;
      margin: 20px;
    }
  }
}

  
